<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("components/header") %>
    <h1>File Uploader</h1>

    <% if(locals.user) { %>
        <p>Welcome, <%= user.username %></p>
        <p><a href="/folder/">Click here</a> to access your file system</p>
    <% } else { %>
        <p>You must log in to access your file system.</p>
    <% } %>
</body>
</html>